@model Practica_2.Models.ListasDeReproduccion

@{
    ViewData["Title"] = "Eliminar Lista de Reproducción";
}

<h2>Eliminar Lista de Reproducción</h2>

<h3>¿Está seguro que desea eliminar esta lista?</h3>
<div>
    <h4>Lista de Reproducción</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.ListaId" method="post">
        <input type="hidden" asp-for="ListaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Dash">Cancelar</a>
    </form>
</div>